<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        function myFunction() {
                // Your code to be executed every 1 minute
                console.log("Function called every 1 minute");
                 var currentTime = new Date();

            // Format the current time
            var currentHours = currentTime.getHours();
            var currentMinutes = currentTime.getMinutes();
            var formattedCurrentTime = currentHours + ":" + currentMinutes;
            console.log(currentHours+":"+currentMinutes);
            }

            // Call the function every 1 minute
            //setInterval(myFunction, 60000);
            myFunction();
    </script>
</body>
</html>